<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Veronika</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="passengers" class="nav-link">Passengers</a>
      </li>
      <li class="nav-item">
        <a routerLink="passengers/add" class="nav-link">Add Passenger</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a routerLink="flights" class="nav-link">Flights</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
